# Virtual environment
yearly_questionnaire_env/

# Byte-compiled files
*.pyc
__pycache__/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific files
.idea/
.vscode/

# answer file .json
answers_*.json

# answer file .txt
answers_*.txt

# Ignore the PyInstaller build directories
build/
dist/*.spec
*.log

# Allow the final executable
!dist/*.exe

# Ignore .spec files
*.spec
